@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tbites </h1>
    <p>BEST BITES ON THE PLANET<a href="https://learn.microsoft.com/aspnet/core"></a>.</p>
</div>
  
    <P> <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Frestaurant-food&psig=AOvVaw0rpfx_1glsPBOHHkccRTDT&ust=1732638208948000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCOCYmLvy94kDFQAAAAAdAAAAABBg" /></P>
 